
html{
    font-family: 'Bebas Neue', cursive;
}


body{
    background-image: url("./img/patron1.jpg");
    background-position: center center;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    height: 270px;
    width: 100%;
    background-image: url("./img/libros.jpg");
    background-position: center center;
    background-size: cover;
}

h3{
    font-size: 25px;
}

.nombre{
    font-size: 100px;
    background-color: rgb(184, 112, 252);
    opacity: 80%;
}

.titulo{
    font-size: 40px;
    text-align: center;
}

.menu{
    opacity: 85%;
}

.filtros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.filtro{
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: rgb(184, 112, 252);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
}

.principal{
    margin: 30px;
    background-color:rgb(232, 200, 250);
    opacity: 80%;
}

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto{
    width: 200px;
    height: 400px;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    opacity: 90%;
    transition: color 0.8s, background-color 0.8s;
}

.producto:hover {
    background-color: rgb(184, 112, 252);
    color: black; 
}

.productoSinStock{
    width: 200px;
    height: 400px;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    opacity: 90%;
    transition: color 0.8s, background-color 0.8s;
}

.productoSinStock:hover {
    background-color: rgb(241, 107, 107);
    color: black; 
}

.tarjeta{
    margin-bottom: 10px;
    background-position: center center;
    background-size: cover;
}

.home{
    position: fixed;
    right: 10px;
    bottom: 300px;
    z-index: 10;
}

.carrito{
    position: fixed;
    right: 10px;
    bottom: 180px;
    z-index: 9;
}

.botonCarrito{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.productosCarrito{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.productosCarrito h2{
    font-size: 40px;
    text-align: center;
}

.itemCarrito{
    width: 500px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.descripcion{
    margin-left: 20px;
    font-size: 20px;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.botones{
    margin-left: 20px;
    font-size: 20px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.descripcion h3, h4{
    margin: 0;
    padding: 10px;
}

.imgLibro{
    width: 150px;
    height: 200px;
}

.home-img{
    width: 100px;
    height: 100px;
}

.carrito-img{
    width: 100px;
    height: 100px;
}

.agregar{
    position: relative;
    top: 118px;
    left: 150px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.carrito-agregar{
    position: relative;
    top: 0;
    right: 8px;
    width: 50px;
    height: 50px;
}

.nombreProducto{
    height: 50px;
}

.comprar, .quitar{
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.vaciar{
    width: 200px;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
}

.vaciarCarrito{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 320px){
    header{
        height: 150px;
    }

    h3{
        font-size: 15px;
    }

    .nombre{
        font-size: 50px;
    }
    
    .titulo{
        font-size: 20px;
    }

    .filtro{
        text-align: start;
        width: 68px;
        height: 30px;
        font-size: 14px;
    }

    .filtros{
        justify-content: flex-start;
    }

    .principal{
        margin: 15px;
    }

    .home-img{
        width: 30px;
        height: 30px;
    }

    .carrito-img{
        width: 30px;
        height: 35px;
    }

    .carrito{
        position: fixed;
        right: 5px;
        bottom: 260px;
    }

    .producto{
        width: 100px;
        height: 200px;
        padding-left: 10px;
        font-size: 10px;
    }

    .productoSinStock{
        width: 100px;
        height: 200px;
        padding-left: 10px;
        font-size: 10px;
    }

    .agregar{
        position: relative;
        top: 8px;
        left: 60px;
        width: 35px;
        height: 35px;
    }

    .carrito-agregar{
        position: relative;
        top: -3px;
        right: 10px;
        width: 35px;
        height: 35px;
    }

    .productosCarrito h2{
        font-size: 20px;
    }
    
    .itemCarrito{
        width: 200px;
        height: 180px;
        padding: 5px;
    }
    
    .descripcion{
        margin-left: 10px;
        font-size: 12px;
        height: 100px;
        width: 150px;
    }

    .descripcion h3{
        width: 50px;
    }
    
    .botones{
        margin-left: 10px;
        font-size: 15px;
        height: 100px;
        flex-direction: column;
    }

    .imgLibro{
        width: 100px;
        height: 170px;
    }

    .comprar, .quitar{
        width: 70px;
        height: 20px;
        cursor: pointer;
    }
    
    .vaciar{
        width: 80px;
        height: 40px;
        font-size: 15px;
    }

}

@media screen and (min-width: 321px) and (max-width: 600px){
    .home-img{
        width: 50px;
        height: 50px;
    }

    .carrito-img{
        width: 50px;
        height: 55px;
    }

    .home{
        position: fixed;
        right: 10px;
        bottom: 150px;
    }
    
    .carrito{
        position: fixed;
        right: 5px;
        bottom: 90px;
    }
}